<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>brand</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<div id="app">

    <!--搜索表单-->
    <el-form :inline="true" :model="brand1" class="demo-form-inline">

        <el-form-item label="当前状态">
            <el-select v-model="brand1.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
                <el-option label="全部" value=""></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="企业名称">
            <el-input v-model="brand1.companyName" placeholder="企业名称"></el-input>
        </el-form-item>

        <el-form-item label="品牌名称">
            <el-input v-model="brand1.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!--按钮-->

    <el-row>

        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>

    </el-row>
    <!--添加数据对话框表单-->
    <el-dialog
            title="编辑品牌"
            :visible.sync="dialogVisible"
            width="30%"
            >

        <el-form ref="form" :model="brand2" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="brand2.brandName"></el-input>
            </el-form-item>

            <el-form-item label="企业名称">
                <el-input v-model="brand2.companyName"></el-input>
            </el-form-item>

            <el-form-item label="排序">
                <el-input v-model="brand2.ordered"></el-input>
            </el-form-item>

            <el-form-item label="备注">
                <el-input type="textarea" v-model="brand2.description"></el-input>
            </el-form-item>

            <el-form-item label="状态">
                <el-switch v-model="brand2.status"
                           active-value="1"
                           inactive-value="0"
                ></el-switch>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="addBrand">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--修改数据对应表单-->
    <el-dialog
            title="编辑品牌"
            :visible.sync="dialogVisibleForUpdate"
            width="30%"
    >

        <el-form ref="form" :model="brand3" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="brand3.brandName"></el-input>
            </el-form-item>

            <el-form-item label="企业名称">
                <el-input v-model="brand3.companyName"></el-input>
            </el-form-item>

            <el-form-item label="排序">
                <el-input v-model="brand3.ordered"></el-input>
            </el-form-item>

            <el-form-item label="备注">
                <el-input type="textarea" v-model="brand3.description"></el-input>
            </el-form-item>

            <el-form-item label="状态">
                <el-switch v-model="brand3.status"
                           active-value="1"
                           inactive-value="0"
                ></el-switch>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="updateData">提交</el-button>
                <el-button @click="dialogVisibleForUpdate = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="brandName"
                    label="品牌名称"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="企业名称"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    align="center"
                    label="排序">
            </el-table-column>
            <el-table-column
                    prop="statusStr"
                    align="center"
                    label="当前状态">
            </el-table-column>

            <el-table-column
                    align="center"
                    label="操作">

                <template slot-scope="scope">
                    <el-button type="primary" @click="selectById(scope.row)">修改</el-button>
                    <el-button type="danger" @click="deleteById(scope.row)" >删除</el-button>
                </template>

            </el-table-column>

        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

</div>

<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",
        mounted(){
            this.selectByPageAndCondition();
        },
        methods: {
            selectByPageAndCondition(){

                axios({
                    method:"post",
                    url:"http://localhost/brand-case/brand/selectByPageAndCondition?currentPage="+this.currentPage+"&pageSize="+this.pageSize,
                    data:this.brand
                }).then((resp)=>{
                    this.tableData=resp.data.row;
                    this.totalCount=resp.data.totalCount;
                })
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex %3=== 0) {
                    return 'warning-row';
                } else if (rowIndex %3 === 1) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

            },
            // 查询方法
            onSubmit() {
                //console.log(this.brand);
                this.brand=this.brand1;
                this.selectByPageAndCondition();
            },
            // 添加数据
            addBrand(){
                //console.log(this.brand);
                var _this=this;
                axios({
                    method: "post",
                    url:"http://localhost/brand-case/brand/add",
                    data:_this.brand2

                }).then(function (resp){
                    if(resp.data=="success"){
                        _this.dialogVisible = false;
                        _this.selectByPageAndCondition();
                        _this.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });
                    }

                })
            },
            //修改数据
            // (回显数据)
            selectById(row){

                var _this=this;
                axios({
                    method: "post",
                    url:"http://localhost/brand-case/brand/selectById",
                    data:row.id

                }).then(function (resp){
                    _this.brand3=resp.data;
                    _this.dialogVisibleForUpdate = true;

                });

            },
            //(提交数据)
            updateData(){

                var _this=this;
                axios({
                    method: "post",
                    url:"http://localhost/brand-case/brand/update",
                    data:_this.brand3

                }).then(function (resp){
                    if(resp.data=="success"){
                        _this.dialogVisibleForUpdate = false;
                        _this.selectByPageAndCondition();
                        _this.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });
                    }

                })
            },

            //分页
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                this.pageSize=val;
                this.selectByPageAndCondition();

            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                this.currentPage=val;
                this.selectByPageAndCondition();
            },

            //删除一个
            deleteById(row){
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var _this=this;
                    axios({
                        method: "post",
                        url:"http://localhost/brand-case/brand/delete",
                        data:row.id

                    }).then(function (resp){
                        if(resp.data=="success"){
                            _this.selectByPageAndCondition();
                            _this.$message({
                                message: '删除成功',
                                type: 'success'
                            });
                        }

                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //批量删除
            deleteByIds(){
                for (let i = 0; i < this.multipleSelection.length; i++) {
                    let selection=this.multipleSelection[i];
                    this.selectedIds[i]=selection.id;
                }


                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var _this=this;
                    axios({
                        method: "post",
                        url:"http://localhost/brand-case/brand/deleteByIds",
                        data:_this.selectedIds

                    }).then(function (resp){
                        if(resp.data=="success"){
                            _this.selectByPageAndCondition();
                            _this.$message({
                                message: '删除成功',
                                type: 'success'
                            });
                        }

                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        },
        data() {
            return {
                //每页记录数
                pageSize:10,
                //总记录数
                totalCount:400,
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                // 品牌模型数据
                brand: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id:"",
                    ordered:"",
                    description:""
                },
                /*用于搜索表单时提交数据*/
                brand1: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id:"",
                    ordered:"",
                    description:""
                },
                /*用于添加公司时处理表单数据*/
                brand2: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id:"",
                    ordered:"",
                    description:""
                },
                /*用于修改数据时处理表单数据*/
                brand3: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id:"",
                    ordered:"",
                    description:""
                },
                //选中批量删除的id
                selectedIds:[],
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [],
                //修改数据对话框是否展示的标记
                dialogVisibleForUpdate:false
            }
        }
    })

</script>

</body>
</html>